<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1074728173827-hfhhefn072itqs1p1hva6udc9b5p4jg6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1074728173827-hfhhefn072itqs1p1hva6udc9b5p4jg6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1074728173827-a6867mia33h6aoi02sc57jb4b3635bp3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBdPbKA-n1kpcuL17rG9dmmqpba6y70VYs</string>
	<key>GCM_SENDER_ID</key>
	<string>1074728173827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.surfiniaburger.galacticstreamhub</string>
	<key>PROJECT_ID</key>
	<string>studio-l13dd</string>
	<key>STORAGE_BUCKET</key>
	<string>studio-l13dd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074728173827:ios:0b9732fbc65dcbe5bbe936</string>
	<key>DATABASE_URL</key>
	<string>https://studio-l13dd-default-rtdb.firebaseio.com</string>
</dict>
</plist>